body {
    font-size: 15px;
    text-shadow: 1px 1px 1px #ccc;
    color: gray;
}
div.header {
    text-align: center;
    font-size: 25px;
    text-shadow: 2px 2px 2px #cc0;
    color: gray;
    height: 60px;
}
div.title {
    font-size: 17px;
    text-shadow: 1px 1px 1px #ccc;
    color: gray;
}
div.left_block {
    width: 300px;
    float: left;
}
div.right_block {
    width: 300px;
    float: left;
    text-align: center;
}
div.center_block {
    width: 100px;
    float: left;
}
label {
    display: block;
}
div.main_block {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
#empezar {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
#formas {
    text-align: left;
}