body {
    font-size: 15px;
    text-shadow: 1px 1px 1px #ccc;
    color: gray;
}
div.forma_verb {
    white-space: nowrap;
}
div.forma_verb input {
    border: 1px gainsboro solid;
}
div.header {
    text-align: center;
    font-size: 25px;
    text-shadow: 2px 2px 2px #cc0;
    color: gray;
    height: 60px;
}
div.title {
    font-size: 17px;
    text-shadow: 1px 1px 1px #ccc;
    color: gray;
}
div.left_block {
    width: 300px;
    float: left;
}
div.right_block {
    width: 300px;
    float: left;
    text-align: center;
}
div.center_block {
    width: 100px;
    float: left;
}
label {
    display: block;
}
div.main_block {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
#empezar {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
#formas {
    text-align: left;
}
#learn_block {
    width: 500px;
    margin: auto;
    display: none;
    overflow: hidden;
    position: relative;
}
#verbos {
    position: absolute;
    bottom: 0px;
    left: 89px;
}
.tarjeta {
    border: 1px gray solid;
    text-align: center;
    width: 300px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.normal {
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(133,172,255)),
        color-stop(1, rgb(244,246,252))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(133,172,255) 2%,
        rgb(244,246,252) 100%
    );
}
.ok {
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(10,148,0)),
        color-stop(1, rgb(220,237,223))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(10,148,0) 0%,
        rgb(220,237,223) 100%
    );
}
.error {
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(255,0,0)),
        color-stop(1, rgb(255,242,242))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(255,0,0) 0%,
        rgb(255,242,242) 100%
    );
}
.respuesta {
    color: white;
    font-weight: bold;
}