body {
    font-size: 15px;
    text-shadow: 1px 1px 1px #ccc;
    color: gray;
}
div.forma_verb {
    white-space: nowrap;
}
div.forma_verb input {
    border: 1px gainsboro solid;
}
div.header {
    text-align: center;
    font-size: 25px;
    text-shadow: 2px 2px 2px #cc0;
    color: gray;
    height: 60px;
}
div.title {
    font-size: 17px;
    text-shadow: 1px 1px 1px #ccc;
    color: gray;
}
div.left_block {
    width: 300px;
    float: left;
}
div.right_block {
    width: 300px;
    float: left;
    text-align: center;
}
div.center_block {
    width: 100px;
    float: left;
}
label {
    display: block;
}
div.main_block {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
#empezar {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
#formas {
    text-align: left;
}
#learn_block {
    width: 500px;
    height: 500px;
    margin: auto;
    display: none;
}
.tarjeta {
    border: 1px lightgray solid;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(133,172,255)),
        color-stop(1, rgb(244,246,252))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(133,172,255) 2%,
        rgb(244,246,252) 100%
    );
    text-align: center;
    width: 300px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}