<div class="header">¡Estudiamos unos verbos!</div>

<div class="main_block">
<div class="left_block">
  <div class="title">
    Elige los tiempos para aprender:
    <div id="tiempos"></div>
  </div>
</div>
<div class="center_block">&nbsp;</div>
<div class="right_block">
  <div class="title">
  Elige las formas:
  </div>
</div>
</div>