<div class="header">¡Estudiamos unos verbos!</div>

<div class="left_block">
  <div class="title">
    Elegir los tiempos para aprender:
    <div id="tiempos"></div>
  </div>
</div>
<div class="right_block">
  <div class="title">
  Elegir las formas:
  </div>
</div>