<div class="header">¡Estudiamos los verbos!</div>

<div id="start_block" class="main_block">
  <form id="form_submit" action="/s/s" method="POST">
    <div class="left_block">
      <div class="title">
        Elige los tiempos para aprender:
        <div id="tiempos"></div>
      </div>
    </div>
    <div class="center_block">&nbsp;</div>
    <div class="right_block">
      <div class="title">
      Elige las formas:
      <fieldset id="formas">
        <legend>Formas</legend>
      </fieldset>
      </div>
      <input id="empezar" type="submit" value="Empezar"/>
    </div>
  </form>
</div>
<div id="learn_block">
<div id="verbos">

</div>
</div>